<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Fisioterapia Pediátrica</title>

	</head>

	<body>
		<header>
			<h1 class="titulo-principal">Fisioterapia Pediátrica</h1>

		</header>

		<main>
		<img id="banner" src="FISIOTERAPIA-NEUROFUNCIONAL.jpg">
		<section class="principal">
			<h2 class="titulo-principal">Sobre a Fisioterapia Pediátrica</h2>

			<p><strong>A Fisioterapia Pediátrica</strong> é o ramo da Fisioterapia que utiliza uma abordagem com base em técnicas neurológicas e cardiorrespiratórias especializadas, buscando integrar os objetivos fisioterápicos com atividades lúdicas e sociais, levando a criança a uma maior integração com sua família e a sociedade.</p>

<p>Técnicas de fisioterapia respiratória pediátrica são muito utilizadas em unidades hospitalares, consultórios e em domicílio como tratamento coadjuvante de doenças pulmonares. Em unidades de terapia intensiva fazem parte do corpo clínico permanente e são profissionais altamente requisitados para a realização de alguns procedimentos como a aplicação da ventilação mecânica não invasiva - VMNI.</p>

<p>A fisioterapia pediátrica motora também é uma subespecialidade da fisioterapia pediátrica muito difundida e com resultados comprovados por vários trabalhos científicos. O fisioterapeuta pediátrico/pediatra utiliza de técnicas há muito aperfeiçoadas e consagradas por anos de bons resultados no tratamento de pacientes neonatais, lactentes e pediátricos. entre elas estão o baby bobath, o posicionamento no leito e o reequilíbrio tóraco - abdominal - RTA.</p>
		</section>



		<div class="video">
			<p>Um pouco do trabalho com as crianças</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/rBT0LmK5obw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>





	</main>
<footer>
<p><img src="wave.svg">&copy; Copyright Bruno Miranda - 2022</p>
        <p>Todos os direitos reservados</p>
</footer>
	</body>
</html>
